@import "~/styles/variables";

.profil {
  margin-top: 4rem;
  display: flex;

  h2 {
    font-size: 20px;
  }

  @include tablet {
    flex-direction: column;
  }

  div {
    margin-right: 2rem;
    width: 100%;
  }
}

.descriptionUser {
  margin-top: 2rem;

  p {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    width: fit-content;
  }
}

.buttonModal {
  background-color: $primary !important;
  border: 1px solid $primary !important;

  &:hover {
    background-color: transparent !important;
    color: $primary !important;
  }
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 7px;

  @include desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include mobile {
    margin: 1rem;
  }
}

.listPosts {
  border-left: 1px solid silver;
  padding-left: 2rem;

  @include tablet {
    border-left: 0px;
    padding-left: 0;
    margin-top: 2rem;
  }
}
