@import "./styles/variables";

.form {
  div {
    width: 400px;
    margin-bottom: 5px;

    @include mobile {
      width: 100%;
    }
  }

  button {
    background-color: $primary;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $primary;
      background-color: transparent;
      color: $primary;
    }

    @include mobile {
      margin-bottom: 1rem;
    }
  }

  .linkRegister {
    margin-left: 10px;
    color: $primary;

    @include mobile {
      margin: 0;
    }
  }

  .error {
    display: none;
    margin-bottom: 15px !important;

    .alert,
    .alert div {
      width: auto;
    }
  }

  .alertError {
    display: block;
  }
}

.connexionBtn {
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}
