@import "../../styles/variables.scss";

.container {
  .postInfos {
    border-bottom: 1px solid black;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;

    h2 a {
      color: $primary;
    }
  }

  .loader {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
  }

  .content {
    display: flex;

    @include tablet {
      flex-direction: column;
    }

    p {
      margin: 0;

      @include tablet {
        margin-top: 10px;
      }
    }

    img,
    video {
      padding: 0 1rem 0 0;
    }
  }

  .comments {
    display: flex;
    margin: 1rem 0 1rem 0;

    @include mobile {
      flex-direction: column;
    }

    .listComments {
      margin-left: 2rem;

      @include mobile {
        margin: 0;
      }

      .loader {
        margin: 1rem 0 1rem 0;
        width: 100%;
      }

      ul {
        max-width: 100%;
        background: transparent !important;
      }
    }

    form {
      div {
        margin: 2px 0 2px 0;
      }
    }
  }
}
