@import "~/styles/variables";

.formComment {
  input,
  textarea {
    width: 300px !important;
  }

  button {
    background-color: $primary;
    border: 1px solid transparent;
    margin-top: 5px;

    &:hover {
      background-color: transparent;
      border: 1px solid $primary;
      color: $primary;
    }
  }
}
